 <%= render "shared/partial" %>

<div style="display: flex;justify-content: space-between">
<h3>予定一覧</h3>
<p><%= link_to "予定の新規登録", :new_task %></p>
</div>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= task.title %></td>
        <td><%= l task.start_date %></td>
        <td><%= l task.end_date %></td>
        <td><%= task.is_all_day ? '◯': '' %></td>
        <td><%= l task.updated_at %></td>
        <td><%= link_to "詳細", task %></td>
        <td><%= link_to "編集", [:edit, task] %></td>
        <td><%= link_to "削除", task, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <% if flash[:notice_create] %>
   <p class="notice"><%= flash[:notice_create] %></p>
 <% end %>

 <% if flash[:notice_update] %>
   <p class="notice"><%= flash[:notice_update] %></p>
 <% end %>

 <% if flash[:notice_destroy] %>
   <p class="notice"><%= flash[:notice_destroy] %></p>
 <% end %>

<div style="display: flex;justify-content: space-between">
<div>予定合計 <%= Task.count %> 件</div>
<div>本日の日付<%= l Date.today %></div>
</div>